{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meu Blog</title>

    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>

<body>

    <h1>Seja bem-vindo ao meu blog!</h1>

    {% for post in posts %}

        <article>
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>

            <p>{{ post.body }}</p>

            <small>
                Publicado em: {{ post.publish }}
            </small>

            <hr>
        </article>

    {% empty %}

        <p>Nenhum post encontrado.</p>

    {% endfor %}

    {% include "pagination.html" with page=page_obj %}

</body>
</html>